<!-- navigation start -->
<div class="navbar">
  <nav class="orange lighten-1">
    <div class="nav-wrapper">
      <a href="#/" class="brand-logo left waves-effect waves-blue"><h4>Kitten Collector</h4></a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="#/new" class="waves-effect waves-blue"><i class="material-icons left">pets</i>Add Your Kitten</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<!-- navigation end -->

<!-- all kittens cards -->
<div ng-repeat="kitten in kittenCtrl.kittens | orderBy:kittenCtrl.filter | filter:search">
  <div class="col s4">
    <div class="card z-depth-5 grey lighten-2">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" ng-src="{{kitten.image}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{kitten.name}}<i class="material-icons right">expand_less</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{kitten.name}}<i class="material-icons right">expand_more</i></span>
        <p>{{kitten.bio}}</p>
        <ul class="col s5 pull-s3 collapsible popout" data-collapsible="accordion" watch>
          <li ng-repeat="single in kittenCtrl.collapsibleElements">
            <div class="collapsible-header waves-effect waves-blue">
              <i class="material-icons">comment</i>{{kitten.comments.length}}
              <ng-pluralize count="kitten.comments.length" when="{
                '0': 'Comments',
                '1': 'Comment',
                'other': 'Comments'}">
              </ng-pluralize>
            </div>
            <div ng-repeat="comment in kitten.comments" class="collapsible-body">
              <p>{{comment.author}}: {{comment.text}}</p>
            </div>
          </li>
        </ul>
      <div>
        <span ng-click="kittenCtrl.thumbUp(kitten.id, kitten.votes)"><i class="material-icons left">thumb_up</i></span>
        <span ng-click="kittenCtrl.thumbDown(kitten.id, kitten.votes)"><i class="material-icons left">thumb_down</i></span>
        <span>| Likes: {{kitten.votes}}</span>
      </div>
        <a class="comment waves-effect waves-blue btn white black-text" ng-href="#/comments/{{kitten.id}}">Add Comment</a>
      </div>
    </div>
  </div>
</div>
<!-- all kittens cards end -->
